<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>WorkingDirectory</key>
    <string>/Users/lawrence_danna</string>

    <key>Label</key>
    <string>org.elder-gods.ipython</string>

    <key>StandardErrorPath</key>
    <string>/Users/lawrence_danna/Library/Logs/ipython.err</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/data/lawrence_danna/bin.local:/data/lawrence_danna/bin:/data/lawrence_danna/apple_config/bin:/data/homebrew/bin:/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>

    <key>ProgramArguments</key>
    <array>
      <string>/data/homebrew/bin/jupyter</string>
      <string>notebook</string>
      <string>--no-browser</string>
      <string>--notebook-dir=/Users/lawrence_danna/Documents</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
