<UserScriptConfig>
	<Script filename="esuserjs.user.js" name="es.user.js" namespace="http://elder-gods.org/wtf" description="navigation for errant story" enabled="true" basedir="esuserjs">
		<Include>http://www.errantstory.com/*</Include>
	</Script>
	<Script filename="sluggy_nav.user.js" name="sluggy nav" namespace="http://elder-gods.org/wtf" description="navigation for sluggy freelance" enabled="true" basedir="sluggy_nav">
		<Include>http://sluggy.com/*</Include>
		<Include>http://www.sluggy.com/*</Include>
	</Script>
	<Script filename="ostrich.user.js" name="ostrich" namespace="http://elder-gods.org/wtf" description="" enabled="false" basedir="ostrich">
		<Include>http://www.reddit.com/</Include>
		<Include>http://www.reddit.com/*</Include>
	</Script>
	<Script filename="google_reader_34.user.js" name="google_reader_34" namespace="tag://elder-gods.org/greasemonkey" description="Keyboard shortcuts display new items / all items." enabled="true" basedir="google_reader_34">
		<Include>http://www.google.com/reader/view/*</Include>
		<Include>https://www.google.com/reader/view/*</Include>
	</Script>
</UserScriptConfig>