<UserScriptConfig>
	<Script filename="esuserjs.user.js" name="es.user.js" namespace="http://elder-gods.org/wtf" description="navigation for errant story" enabled="true" basedir="esuserjs">
		<Include>http://www.errantstory.com/*</Include>
	</Script>
	<Script filename="sluggy_nav.user.js" name="sluggy nav" namespace="http://elder-gods.org/wtf" description="navigation for sluggy freelance" enabled="true" basedir="sluggy_nav">
		<Include>http://sluggy.com/*</Include>
		<Include>http://www.sluggy.com/*</Include>
	</Script>
	<Script filename="ostrich.user.js" name="ostrich" namespace="http://elder-gods.org/wtf" description="" enabled="true" basedir="ostrich">
		<Include>http://www.reddit.com/</Include>
		<Include>http://www.reddit.com/*</Include>
	</Script>
	<Script filename="google_reader_sort_on_un.user.js" name="Google Reader Sort On Unread Items" namespace="tag://udaypandey.com/greasemonkey" description="Keyboard shortcuts to sort feed based on unread items." enabled="true" basedir="google_reader_sort_on_un">
		<Include>http://www.google.com/reader/view/*</Include>
		<Include>https://www.google.com/reader/view/*</Include>
	</Script>
</UserScriptConfig>